.inputField,
.exchangeRate {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.inputField {
  flex-direction: column;
  min-height: 80vh;
  color: white;
}

.exchangeRate {
  min-height: 20vh;
  color: rgb(30, 255, 0);
}

.exchangeRate span {
  margin: 10px 15px;
}

@media (max-width: 600px) {
  .exchangeRate {
    flex-direction: column;
    padding-top: 20px;
  }
}
